  @import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Michroma&family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');


body{
    margin: 0;
    padding: 0;
    font-family: 'Bebas Neue';
    background-color: #7C8A87;
}

.body{
    font-family: 'Bebas Neue';
    background-color: #7C8A87;  
}

.titulo-principal {
    color: #ff0000;
    text-align: center;
    padding: 1px;
    background-color: black;
    padding-top: 10px;
}

.navbar-toggler{
  margin-bottom: 20px;
  border: #6E7873;


}
.nav-link {
    color: #6E7873;

}

.nav-link:hover {
    color: #ff0000;
    font-family: 'Bebas Neue';

}


.nav-link.active {
 color: red;
}

nav {
    background-color: black;
}

.navbar-nav{
  flex-wrap: wrap;
  text-align: center;
  justify-content: center;
}

.collapse {
  flex-wrap: wrap;
  text-align: center;
  justify-content: center;
}


.material-symbols-outlined {
  color: #6E7873;
}


.justify-content-center {
  justify-content: center!important;

}
.image-container {
    position: relative;
    text-align: center;
    color: white;
    margin-bottom: 60px;
  }

  .bottom-left {
    position: absolute;
    bottom: 8px;
    left: 16px;
  }
  
.imagen-principal {
    max-width: 100%;
}

.btn-outline-dark {
    color: white;
    background-color: transparent;
    border-color: white;
    border: 2px solid;
    border-radius: 20px;
}
h1{
  font-size: 60px;
}

.texto-oculto {
  visibility: hidden;
}


.bottom-left {
  bottom: 46px;
  left: 52px;}

.card {
    background-color: transparent;
    border: none;
}

.imgFeat:hover {
width: 300px;
}


.slide{
  margin-top: 40px;
  margin-bottom: 40px;
  padding: 40px;
}

.fbio{
  font-family: "Montserrat";
padding: 40px;
padding-top: 0;
}

.card{
  margin-bottom: 20px;
  margin-top: 20px;
}

.nav-link{
  font-size: 18px;
  font-weight: 100;
}



.readMore{
  display: flex;
  flex-direction: column;
}

.readMoreButton{
  color: white;
  background-color: transparent;
  border-color: white;
  border: 2px solid;
  border-radius: 20px;
  padding: 10px;
  margin-left: 40px;
}

.readMoreText{
display: none;
}

.readMoreText--show{
  display: inline;
}

.featured{
  margin-top: 60px;
}

/* FOOTER */
footer {
    color: white;
    font-family: "Montserrat";
    margin-top: 40px;
}

.text-small {
    font-size: 0.9rem;
  }
.text-muted {
    color: white!important;
    font-size: 10px;
}

a {
    color: inherit;
    text-decoration: none;
    transition: all 0.3s;
  }

a:hover, a:focus {
    text-decoration: none;
    color: #ff0000;
  }
  .form-control {
    background: transparent;
    border-color: white;
    border-radius: 10px;
  }
  
  .form-control:focus {
    background: transparent;
    color: white;
  }
  
  footer {
    background: #6E7873;
  }

  .footerArt {
    background: black;
  }

  .btn-primary{
    background-color: transparent;
    border-color: white;
  }

  .btn-news {
    border-radius: 10px ;
  }

.input-group>.form-control:not(:last-child) {
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
}

.text-white {
color: red!important;
font-family: "Bebas Neue";
  }

  .fa-brands{
    margin-right: 20px;
  }

  .in-black {
    color: black !important;;
  }

h2 {
    margin-left: 20px;
}

/* characters */

.characters {
padding: 20px;
}

.cardCharacters{
  padding: 20px;
}


.about{
  margin-top: 40px;
}

.aboutP{
  padding: 40px;
  color: white;
  font-family: "Montserrat";
}

.navbar-toggler-icon{
  color: white;
}

.bodyArt {
  background-color: black;
}

.poster {
  width: 70%!important;
  margin: auto;
  margin-top: 40px;
}


/* articleCharacter */

.characterName {
  text-align: center;
  margin-top: 40px;
  margin-bottom: 40px;
}


.imgArticle{
max-width: 400px;
}

.pChar {
  font-family: "Montserrat";
  font-size: 12.5px;
}


/* QUOTES */

.fraseBoton{
  justify-content: center!important;
text-align: center;
margin-top: 80px;
margin-bottom: 80px;
}


.bckImg{
  color: black;
}

.botonQuotes{
  color: red;
  background-color: transparent;
  border-color: white;
  border: 2px solid;
  border-radius: 20px;
  padding: 10px;
  font-size: 30px;
}

.iconsWhite{
  color: white!important;
}

.inWhite {
  color: white!important;
}


.igEmbed{
  display: flex;
  margin-top: 80px;
  margin-bottom: 80px;
  justify-content: center!important;

}


.slideIn {
  animation-duration: 3s;
  animation-name: slidein;
}


@keyframes slidein {
  from {
    margin-left: 100%;
    width: 300%;
  }

  to {
    margin-left: 0%;
    width: 100%;
  }
}

.card-body {
  padding: 0rem;
  margin-top: 20px;
}

.formCommunity{
  margin: auto;
  padding: 100px;
}

.submitBoton{
  color: black;
  background-color: transparent;
  border-color: white;
  border: 1px solid;
  border-radius: 10px;
  padding: 10px;
  font-size: 15px;
}

.message {
  margin-left: 10%;
}



.rating {
  display: flex;
  flex-direction: row-reverse;
  gap: 0.3rem;
  --stroke: #666;
  --fill: #ffc73a;
  width: 65%;
  padding: 10px;
}

.rating input {
  appearance: unset;
}

.rating label {
  cursor: pointer;
}

.rating svg {
  width: 3rem;
  height: 3rem;
  overflow: visible;
  fill: transparent;
  stroke: var(--stroke);
  stroke-linejoin: bevel;
  stroke-dasharray: 12;
  animation: idle 4s linear infinite;
  transition: stroke 0.2s, fill 0.5s;
}

@keyframes idle {
  from {
    stroke-dashoffset: 24;
  }
}

.rating label:hover svg {
  stroke: var(--fill);
}

.rating input:checked ~ label svg {
  transition: 0s;
  animation: idle 4s linear infinite, yippee 0.75s backwards;
  fill: var(--fill);
  stroke: var(--fill);
  stroke-opacity: 0;
  stroke-dasharray: 0;
  stroke-linejoin: miter;
  stroke-width: 8px;
}

@keyframes yippee {
  0% {
    transform: scale(1);
    fill: var(--fill);
    fill-opacity: 0;
    stroke-opacity: 1;
    stroke: var(--stroke);
    stroke-dasharray: 10;
    stroke-width: 1px;
    stroke-linejoin: bevel;
  }

  30% {
    transform: scale(0);
    fill: var(--fill);
    fill-opacity: 0;
    stroke-opacity: 1;
    stroke: var(--stroke);
    stroke-dasharray: 10;
    stroke-width: 1px;
    stroke-linejoin: bevel;
  }

  30.1% {
    stroke: var(--fill);
    stroke-dasharray: 0;
    stroke-linejoin: miter;
    stroke-width: 8px;
  }

  60% {
    transform: scale(1.2);
    fill: var(--fill);
  }
}



.botonQuotes {
  padding: 17px 40px;
  border-radius: 50px;
  border: 0;
  background-color: white;
  box-shadow: rgb(0 0 0 / 5%) 0 0 8px;
  letter-spacing: 1.5px;
  text-transform: uppercase;
  font-size: 15px;
  transition: all .5s ease;
 }
 
 .botonQuotes:hover {
  letter-spacing: 3px;
  background-color: rgb(220, 24, 24);
  color: hsl(0, 0%, 100%);
  box-shadow: rgb(220, 24, 24) 0px 7px 29px 0px;
 }
 
.botonQuotes:active {
  letter-spacing: 3px;
  background-color: rgb(220, 24, 24);
  color: hsl(0, 0%, 100%);
  box-shadow: rgb(220, 24, 24) 0px 0px 0px 0px;
  transform: translateY(10px);
  transition: 100ms;
 }


 .color-change-5x {
	-webkit-animation: color-change-5x 8s linear infinite alternate both;
	        animation: color-change-5x 8s linear infinite alternate both;
}


@-webkit-keyframes color-change-5x {
  0% {
    background: #6E7873;
  }
  25% {
    background: #7C8D8A;
  }
  50% {
    background: #D70000;
  }
  75% {
    background: #000000;
  }
  100% {
    background: #FFFFFF;
  }
}
@keyframes color-change-5x {
  0% {
    background: #6E7873;
  }
  25% {
    background: #7C8D8A;
  }
  50% {
    background: #D70000;
  }
  75% {
    background: #000000;
  }
  100% {
    background: #FFFFFF;
  }
}

.text-flicker-in-glow {
	-webkit-animation: text-flicker-in-glow 4s linear both;
	        animation: text-flicker-in-glow 4s linear both;
          font-size: 60px;
}


@-webkit-keyframes text-flicker-in-glow {
  0% {
    opacity: 0;
  }
  10% {
    opacity: 0;
    text-shadow: none;
  }
  10.1% {
    opacity: 1;
    text-shadow: none;
  }
  10.2% {
    opacity: 0;
    text-shadow: none;
  }
  20% {
    opacity: 0;
    text-shadow: none;
  }
  20.1% {
    opacity: 1;
    text-shadow: 0 0 30px rgba(255, 255, 255, 0.25);
  }
  20.6% {
    opacity: 0;
    text-shadow: none;
  }
  30% {
    opacity: 0;
    text-shadow: none;
  }
  30.1% {
    opacity: 1;
    text-shadow: 0 0 30px rgba(255, 255, 255, 0.45), 0 0 60px rgba(255, 255, 255, 0.25);
  }
  30.5% {
    opacity: 1;
    text-shadow: 0 0 30px rgba(255, 255, 255, 0.45), 0 0 60px rgba(255, 255, 255, 0.25);
  }
  30.6% {
    opacity: 0;
    text-shadow: none;
  }
  45% {
    opacity: 0;
    text-shadow: none;
  }
  45.1% {
    opacity: 1;
    text-shadow: 0 0 30px rgba(255, 255, 255, 0.45), 0 0 60px rgba(255, 255, 255, 0.25);
  }
  50% {
    opacity: 1;
    text-shadow: 0 0 30px rgba(255, 255, 255, 0.45), 0 0 60px rgba(255, 255, 255, 0.25);
  }
  55% {
    opacity: 1;
    text-shadow: 0 0 30px rgba(255, 255, 255, 0.45), 0 0 60px rgba(255, 255, 255, 0.25);
  }
  55.1% {
    opacity: 0;
    text-shadow: none;
  }
  57% {
    opacity: 0;
    text-shadow: none;
  }
  57.1% {
    opacity: 1;
    text-shadow: 0 0 30px rgba(255, 255, 255, 0.55), 0 0 60px rgba(255, 255, 255, 0.35);
  }
  60% {
    opacity: 1;
    text-shadow: 0 0 30px rgba(255, 255, 255, 0.55), 0 0 60px rgba(255, 255, 255, 0.35);
  }
  60.1% {
    opacity: 0;
    text-shadow: none;
  }
  65% {
    opacity: 0;
    text-shadow: none;
  }
  65.1% {
    opacity: 1;
    text-shadow: 0 0 30px rgba(255, 255, 255, 0.55), 0 0 60px rgba(255, 255, 255, 0.35), 0 0 100px rgba(255, 255, 255, 0.1);
  }
  75% {
    opacity: 1;
    text-shadow: 0 0 30px rgba(255, 255, 255, 0.55), 0 0 60px rgba(255, 255, 255, 0.35), 0 0 100px rgba(255, 255, 255, 0.1);
  }
  75.1% {
    opacity: 0;
    text-shadow: none;
  }
  77% {
    opacity: 0;
    text-shadow: none;
  }
  77.1% {
    opacity: 1;
    text-shadow: 0 0 30px rgba(255, 255, 255, 0.55), 0 0 60px rgba(255, 255, 255, 0.4), 0 0 110px rgba(255, 255, 255, 0.2), 0 0 100px rgba(255, 255, 255, 0.1);
  }
  85% {
    opacity: 1;
    text-shadow: 0 0 30px rgba(255, 255, 255, 0.55), 0 0 60px rgba(255, 255, 255, 0.4), 0 0 110px rgba(255, 255, 255, 0.2), 0 0 100px rgba(255, 255, 255, 0.1);
  }
  85.1% {
    opacity: 0;
    text-shadow: none;
  }
  86% {
    opacity: 0;
    text-shadow: none;
  }
  86.1% {
    opacity: 1;
    text-shadow: 0 0 30px rgba(255, 255, 255, 0.6), 0 0 60px rgba(255, 255, 255, 0.45), 0 0 110px rgba(255, 255, 255, 0.25), 0 0 100px rgba(255, 255, 255, 0.1);
  }
  100% {
    opacity: 1;
    text-shadow: 0 0 30px rgba(255, 255, 255, 0.6), 0 0 60px rgba(255, 255, 255, 0.45), 0 0 110px rgba(255, 255, 255, 0.25), 0 0 100px rgba(255, 255, 255, 0.1);
  }
}
@keyframes text-flicker-in-glow {
  0% {
    opacity: 0;
  }
  10% {
    opacity: 0;
    text-shadow: none;
  }
  10.1% {
    opacity: 1;
    text-shadow: none;
  }
  10.2% {
    opacity: 0;
    text-shadow: none;
  }
  20% {
    opacity: 0;
    text-shadow: none;
  }
  20.1% {
    opacity: 1;
    text-shadow: 0 0 30px rgba(255, 255, 255, 0.25);
  }
  20.6% {
    opacity: 0;
    text-shadow: none;
  }
  30% {
    opacity: 0;
    text-shadow: none;
  }
  30.1% {
    opacity: 1;
    text-shadow: 0 0 30px rgba(255, 255, 255, 0.45), 0 0 60px rgba(255, 255, 255, 0.25);
  }
  30.5% {
    opacity: 1;
    text-shadow: 0 0 30px rgba(255, 255, 255, 0.45), 0 0 60px rgba(255, 255, 255, 0.25);
  }
  30.6% {
    opacity: 0;
    text-shadow: none;
  }
  45% {
    opacity: 0;
    text-shadow: none;
  }
  45.1% {
    opacity: 1;
    text-shadow: 0 0 30px rgba(255, 255, 255, 0.45), 0 0 60px rgba(255, 255, 255, 0.25);
  }
  50% {
    opacity: 1;
    text-shadow: 0 0 30px rgba(255, 255, 255, 0.45), 0 0 60px rgba(255, 255, 255, 0.25);
  }
  55% {
    opacity: 1;
    text-shadow: 0 0 30px rgba(255, 255, 255, 0.45), 0 0 60px rgba(255, 255, 255, 0.25);
  }
  55.1% {
    opacity: 0;
    text-shadow: none;
  }
  57% {
    opacity: 0;
    text-shadow: none;
  }
  57.1% {
    opacity: 1;
    text-shadow: 0 0 30px rgba(255, 255, 255, 0.55), 0 0 60px rgba(255, 255, 255, 0.35);
  }
  60% {
    opacity: 1;
    text-shadow: 0 0 30px rgba(255, 255, 255, 0.55), 0 0 60px rgba(255, 255, 255, 0.35);
  }
  60.1% {
    opacity: 0;
    text-shadow: none;
  }
  65% {
    opacity: 0;
    text-shadow: none;
  }
  65.1% {
    opacity: 1;
    text-shadow: 0 0 30px rgba(255, 255, 255, 0.55), 0 0 60px rgba(255, 255, 255, 0.35), 0 0 100px rgba(255, 255, 255, 0.1);
  }
  75% {
    opacity: 1;
    text-shadow: 0 0 30px rgba(255, 255, 255, 0.55), 0 0 60px rgba(255, 255, 255, 0.35), 0 0 100px rgba(255, 255, 255, 0.1);
  }
  75.1% {
    opacity: 0;
    text-shadow: none;
  }
  77% {
    opacity: 0;
    text-shadow: none;
  }
  77.1% {
    opacity: 1;
    text-shadow: 0 0 30px rgba(255, 255, 255, 0.55), 0 0 60px rgba(255, 255, 255, 0.4), 0 0 110px rgba(255, 255, 255, 0.2), 0 0 100px rgba(255, 255, 255, 0.1);
  }
  85% {
    opacity: 1;
    text-shadow: 0 0 30px rgba(255, 255, 255, 0.55), 0 0 60px rgba(255, 255, 255, 0.4), 0 0 110px rgba(255, 255, 255, 0.2), 0 0 100px rgba(255, 255, 255, 0.1);
  }
  85.1% {
    opacity: 0;
    text-shadow: none;
  }
  86% {
    opacity: 0;
    text-shadow: none;
  }
  86.1% {
    opacity: 1;
    text-shadow: 0 0 30px rgba(255, 255, 255, 0.6), 0 0 60px rgba(255, 255, 255, 0.45), 0 0 110px rgba(255, 255, 255, 0.25), 0 0 100px rgba(255, 255, 255, 0.1);
  }
  100% {
    opacity: 1;
    text-shadow: 0 0 30px rgba(255, 255, 255, 0.6), 0 0 60px rgba(255, 255, 255, 0.45), 0 0 110px rgba(255, 255, 255, 0.25), 0 0 100px rgba(255, 255, 255, 0.1);
  }
}



@media screen and (max-width: 640px) and (min-width: 320px) {
  .bottom-left {
    position: relative;
    left: 0px;
    bottom: 0px;
    top: 10px;
    color: black;
    font-size: 20px;
  }
  .buttonInt{
    color: black;
    font-size: 20px;

  }
  .rowFeatured {
    margin-left: 15%;
  }
  .imagen-principal{
    min-height: 400px;
    object-fit:cover;
  }
}

@media screen and (max-width: 600px) {
  .contFeat{
    margin: auto;
    padding-right: 164px;
    padding-left: 0px;
  }
          .imagen-principal{
      min-height: 400px;
      object-fit:cover;
    }

    .imgArticle{
      margin-bottom: 40px;
      max-width: 348px;
    }

    .igEmbed{
      padding: 40px;
    }

    .rating{
margin-left: 94px;
    }
}