  @import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Michroma&family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');


body{
    margin: 0;
    padding: 0;
    font-family: 'Bebas Neue';
    background-color: #7C8A87;
}

.body{
    font-family: 'Bebas Neue';
    background-color: #7C8A87;  
}

.titulo-principal {
    color: red;
    text-align: center;
    padding: 10px;
    margin-bottom: 10px;
}


.nav-link {
    color: #6E7873;

}

.nav-link:hover {
    color: #ff0000;
    font-family: 'Bebas Neue';

}



.nav-link.active {
 color: red;
}

nav {
    background-color: black;
    margin-bottom: 80px;
}

.image-container {
    position: relative;
    text-align: center;
    color: white;
    margin-bottom: 60px;
  }

  .bottom-left {
    position: absolute;
    bottom: 8px;
    left: 16px;
  }
  
.imagen-principal {

    max-width: 100%;
}

.btn-outline-dark {
    color: white;
    background-color: transparent;
    border-color: white;
    border: 2px solid;
    border-radius: 20px;
}

.bottom-left {
    margin-bottom: 20px;
}

.card {
    background-color: transparent;
    border: none;
}

.card:hover {
width: 200px;
}


/* FOOTER */
footer {
    color: white;
    font-family: "Montserrat";
}

.text-small {
    font-size: 0.9rem;
  }
.text-muted {
    color: white!important;
    font-size: 10px;
}

a {
    color: inherit;
    text-decoration: none;
    transition: all 0.3s;
  }

a:hover, a:focus {
    text-decoration: none;
    color: #ff0000;
  }
  .form-control {
    background: transparent;
    border-color: white;
    border-radius: 0;
  }
  
  .form-control:focus {
    background: transparent;
    color: white;
  }
  
  footer {
    background: #6E7873;
  }

  .btn-primary{
    background-color: transparent;
    border-color: white;
  }

  .btn-news {
    border-radius: 0 ;
  }

.text-white {
color: red!important;
font-family: "Bebas Neue";
  }

  .fa-brands{
    margin-right: 20px;
  }

  .in-black {
    color: black !important;;
  }

.featured {
    margin-left: 20px;
}
.links-news {
    align-items: flex-end;
    align-items: right;
text-align: right;
float: right;
justify-content: right;
align-content: flex-end;
}